@model PaginacionRespuesta<Categoria>

@{
    ViewData["Title"] = "Categorías";
}

<h1>Categoría de gastos</h1>
<h5>La categoría nos permite indicar en qué gastamos nuestro dinero</h5>

<h2>Cantidad de categorías: @Model.CantidadTotalDeRecords - Cantidad total de páginas: @Model.CantidadTotalDePaginas</h2>

<a class="btn btn-primary" asp-action="Crear">Crear</a>

<div class="row">
    <label>Cantidad de registros a mostrar</label>
    <div class="mb-3 col-auto">
        <select asp-for="@Model.RecordsPorPagina" id="CantidadRecordsPagina">
            <option value="3">3</option>
            <option value="5">5</option>
            <option value="10">10</option>
        </select>
    </div>
</div>

<partial name="_Paginacion" />

<table class="table">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Nombre</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var categoria in Model.Elementos)
        {
            <tr>
                <td>
                    <a class="btn btn-secondary" asp-action="Editar" asp-route-id="@categoria.Id">Editar</a>
                    <a class="btn btn-danger" asp-action="Borrar" asp-route-id="@categoria.Id">Borrar</a>
                </td>
                <td>
                    @categoria.Nombre
                </td>
                <td>
                    @categoria.TipoOperacionId.ToString()
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        const selectRecords = document.getElementById("CantidadRecordsPagina")

        selectRecords.addEventListener("change", (evt)=>{
            const records = evt.target.value
            console.log(evt)
            location.href = `@Model.BaseURL/?pagina=1&recordsPorPagina=${records}`
        })
    </script>
}